body {
    background-image: url("../img/beach.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.card-header {
    text-align: center;
}

.style-row {
    margin: 2%;
}

.header {
    color: darkgreen;
}

