body {
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: inherit;
    /*color: red;*/
    /*text-decoration: none;*/
}

a:active {
    text-decoration: none;
}

a:focus {
    color: inherit;
    /*text-decoration: none;*/
}

.card-header {
    text-align: center;
}

.style-row {
    margin: 2%;
}

.header {
    color: #002900;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.85);
}

.transparent-light {
    background-color: rgba(255, 255, 255, 0.95);
}

.header-color {
    font-weight: bold;
    font-size: large;
    color: #0073ff;
    background-color: ghostwhite;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 1.3vw;
    padding: 0.9vw;
    width: 19%;
    display: inline-block;
}

@media (max-width: 690px) {
    .list-group-horizontal .list-group-item {
        font-size: 3vw;
        width: 48%;
    }
}

@media (min-width: 1600px) {
    .list-group-horizontal .list-group-item {
        font-size: 1vw;
        width: 49%;
    }
}

@media (min-width: 3000px) {
    .list-group-horizontal .list-group-item {
        font-size: 0.9vw;
    }
}

.list-group-horizontal .list-group-item {
    border-radius: 8px;
}

input[type=search] {
    z-index: -1;
    width: 55px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../img/toolbar_find.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition-delay: 0.15s;
    -webkit-transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-in;
}

input[type=search]:focus {
    box-shadow: 0 0 10px 3px #b0e0ee;
    width: 100%;
}

input[type=text] {
    width: 97%;
    height: 93%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px 20px 12px 20px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
    height: 100%;
}

input[type=number] {
    width: 97%;
    height: 93%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px 20px 12px 20px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

input[type=number]:focus {
    height: 100%;
    width: 100%;
}

.list-group-item :hover {
    box-shadow: 10px 10px 5px grey;
}

.close-icon {
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.close-icon:focus {
    outline: 0;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 16px;
    position: absolute;
    background-color: rgba(191, 5, 0, 0.7);
    z-index: 1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
    display: none;
}

.mycontainer {
    /*display: block;*/
    margin-left: 10px;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.mycontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.mycontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mycontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.mycontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.mycontainer .checkmark:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}