<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Getting Started</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body style="background-image: url('img/nature.jpeg');">
<section id="contact">
    <div class="container">
        <h2 class="card-header header">Getting Started</h2>
        <form action="http://127.0.0.1:5000/save_data" method="post" id="form" class="form-control transparent-light">
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
            </div>
            <div class="form-group">
                <input type="number" id="age" name="age" class="form-control" placeholder="Age" required="">
            </div>
            <div class="form-group">
                <input type="text" id="nation" name="nation" class="form-control" placeholder="Nationality" required="">
            </div>
            <div class="form-group">
                <input type="text" id="place" name="place" class="form-control" placeholder="Current Living"
                       required="">
            </div>
            <div class="form-group">
                <label style="width: 8%"><b> Gender:</b></label>
                <label style="width: 8%"><input type="radio" name="gender" value="Male" required> Male</label>
                <label style="width: 8%"><input type="radio" name="gender" value="Female"> Female</label>
                <label style="width: 8%"><input type="radio" name="gender" value="Other"> Other</label>
            </div>
            <div class="form-group " style="width: 100%">
                <label><b> Interests:</b></label>
                <br>
                <div class="list-group-horizontal" id="topic-list">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic1" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 1">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic2" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 2">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic3" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 3">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic4" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 4">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic5" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 5">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic6" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 6">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic7" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 7">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic8" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 8">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic9" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 9">
                    <input type="button"  style="width: 19%;margin: 1px" id = "topic10" class=" border rounded list-group-item list-group-item-action dummy" value="Topic 10">
                </div>
            </div>
            <div class="form-group">
                <label><br><b>Permissions:</b></label>
                <ul>
                    <li>
                        Read and change your data on 127.0.0.1
                    </li>
                    <li>
                        Replace the page you see when opening a new tab
                    </li>
                    <li>
                        Read your browsing history
                    </li>
                </ul>
            </div>
            <label><input type="checkbox" name="q" id="a-0" required autofocus>
                I accept Terms and Conditions
            </label>
            <br>
            <input type='text' id="id" name="id" hidden>
            <p class="alert alert-danger" id="error" style="display: none;"> Error!</p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<script src="enter_data.js"></script>
</body>
</html>