<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Getting Started</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body style="background-image: url('img/nature.jpeg');">
<section id="contact">
    <div class="container">
        <h2 class="card-header header">Getting Started</h2>
        <form action="http://127.0.0.1:5000/save_data" method="post" class="form-control">
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
            </div>
            <div class="form-group">
                <input type="number" id="age" name="age" class="form-control" placeholder="Age" required="">
            </div>
            <div class="form-group">
                <input type="text" id="nation" name="nation" class="form-control" placeholder="Nationality" required="">
                <label><br><b>Permissions:</b></label>
                <ul>
                    <li>
                        Read and change your data on 127.0.0.1
                    </li>
                    <li>
                        Replace the page you see when opening a new tab
                    </li>
                    <li>
                        Read your browsing history
                    </li>
                </ul>
            </div>
            <input type="checkbox" name="q" id="a-0" required autofocus>
            <label>
                I accept Terms and Conditions
            </label>
            <br>
            <input type='text' id="id" name="id" hidden>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<script src="m.js">
</script>
</body>
</html>