<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search Worm</title><!--New Tab-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid " id="content">
    <div class="row style-row">
        <div class="col-md-6">
            <div id="card-258852">
                <div class="card transparent">
                    <div class="card-header header-color">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-258852"
                           href="#card-element-953423" id="topic1">Topic 1</a>
                        <input style="float: right" type="image" src='img/refresh.png' width='25' height='25'
                               class="refresh"/>
                    </div>
                    <div id="card-element-953423" class="collapse show">
                        <div class="card-body" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                            <ul id="res1">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="card-149016">
                <div class="card transparent">
                    <div class="card-header header-color" id="topic2">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-149016"
                           href="#card-element-59727">Topic 2</a>
                        <input style="float: right" type="image" src='img/refresh.png' width='25' height='25'
                               class="refresh"/>
                        <!--Topic 2-->
                    </div>
                    <div id="card-element-59727" class="collapse show">
                        <div class="card-body" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                            <ul id="res2">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row style-row">
        <div class="col-md-6">
            <div id="card-149015">
                <div class="card transparent">
                    <div class="card-header header-color" id="topic3">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-149015"
                           href="#card-element-59726">Topic 3</a>
                        <input style="float: right" type="image" src='img/refresh.png' width='25' height='25'
                               class="refresh"/>
                        <!--Topic 3-->
                    </div>
                    <div id="card-element-59726" class="collapse show">
                        <div class="card-body" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                            <ul id="res3">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="card-353299">
                <div class="card transparent">
                    <div class="card-header header-color" id="topic4">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-353299"
                           href="#card-element-977220">Topic 4</a>
                        <input style="float: right" type="image" src='img/refresh.png' width='25' height='25'
                               class="refresh"/>
                        <!--Topic 4-->
                    </div>
                    <div id="card-element-977220" class="collapse show">
                        <div class="card-body" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                            <ul id="res4">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row style-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="card-258857">
                <div class="card transparent">
                    <div class="card-header header-color">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-258857"
                           href="#card-element-993423" id="collaborative">You May Also Like</a>
                        <input style="float: right" type="image" src='img/refresh.png' width='25' height='25'
                               class="refresh"/>
                    </div>
                    <div id="card-element-993423" class="collapse show">
                        <div class="card-body" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                            <ul id="res5">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row style-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="card-358357">
                <div class="card transparent">
                    <div class="card-header header-color">
                        <a class="card-link" data-toggle="collapse" data-parent="#card-358357"
                           href="#card-element-993499">Go Offline</a>
                    </div>
                    <div id="card-element-993499" class="collapse">
                        <div class="card-body" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                            <div>
                                <form>
                                    <input style="z-index: -1;" type="search" name="focus" required class="search-box"
                                           placeholder="Enter search term"/>
                                    <button class="close-icon" type="reset"/>
                                </form>
                            </div>
                            <ul id="offline">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row style-row">
        <label for="upload-image" class="btn btn-primary">Select Image</label>
        <input id="upload-image" style="visibility:hidden;" type="file">
    </div>
</div>

<script src="history&recommendations.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>