<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=3">
<style>
.vertical-menu {
    width: 180px;
    height: 200px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
  <script src="n.js"></script>

</head>
<body>

<h4>Search Worm</h4>

<div class="vertical-menu">

  <a href="#"id="download">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>

</div>



</body>

</html>
