<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search Worm</title>
    <script src="nn.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid " id="content" >
    <div class="row style-row">
        <div class="col-md-6">
            <div id="card-258852">
                <div class="card">
                    <div class="card-header" id="topic1">
                        <!--<a class="card-link" data-toggle="collapse" data-parent="#card-258852"-->
                           <!--href="#card-element-953423" id="topic1">Music</a>-->
                        Music
                    </div>
                    <div id="card-element-953423" class="collapse show">
                        <div class="card-body">
                            <ul id="res1">
                                <li class="list-item">
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li class="list-item">
                                    Consectetur adipiscing elit
                                </li>
                                <li class="list-item">
                                    Integer molestie lorem at massa
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="card-149016">
                <div class="card">
                    <div class="card-header" id="topic2">
                        <!--<a class="card-link"  data-toggle="collapse" data-parent="#card-149016"-->
                           <!--href="#card-element-59727">News</a>-->
                        News
                    </div>
                    <div id="card-element-59727" class="collapse show">
                        <div class="card-body">
                            <ul id="res2">
                                <li class="list-item">
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li class="list-item">
                                    Consectetur adipiscing elit
                                </li>
                                <li class="list-item">
                                    Integer molestie lorem at massa
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row style-row">
        <div class="col-md-6">
            <div id="card-149015">
                <div class="card">
                    <div class="card-header" id="topic3">
                        <!--<a class="card-link" data-toggle="collapse" data-parent="#card-149015"-->
                           <!--href="#card-element-59726">News</a>-->
                        News
                    </div>
                    <div id="card-element-59726" class="collapse show">
                        <div class="card-body">
                            <ul id="res3">
                                <li class="list-item">
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li class="list-item">
                                    Consectetur adipiscing elit
                                </li>
                                <li class="list-item">
                                    Integer molestie lorem at massa
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="card-353299">
                <div class="card">
                    <div class="card-header" id="topic4">
                        <!--<a class="card-link" data-toggle="collapse" data-parent="#card-353299"-->
                           <!--href="#card-element-977220">Technology</a>-->
                        Technology
                    </div>
                    <div id="card-element-977220" class="collapse show">
                        <div class="card-body">
                            <ul id="res4">
                                <li class="list-item">
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li class="list-item">
                                    Consectetur adipiscing elit
                                </li>
                                <li class="list-item">
                                    Integer molestie lorem at massa
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>